{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="{% static 'index.css' %}" />
  <link rel="stylesheet" href="{% static 'toastify.css' %}" />
</head>
<body>
  <header>
    <h1>Conqr.IO</h1>
  </header>
  <div class="container">
    <div  style="display:flex" id="header-container">
    </div>
    <div class="card" id="vs-player">
      <h2>Newer Game</h2>
      <button>Start</button>
    </div>
    <div class="card" id="join">
      <h2>Join Game</h2>
      <input type="text" placeholder="Enter game id">
      <button>Join</button>
    </div>
    <div class="card" id="vs-ai">
      <h2>vs AI</h2>
      <button disabled>coming soon</button>
    </div>
    <div class="card" id="spectate">
      <h2>Watch AI Play</h2>
      <button disabled>coming soon</button>
    </div>
    <div id="snackbar"></div>
  </div>

  <script src="{% static 'index.js' %}"></script>
  <script src="{% static 'toast.js' %}"></script>
</body> 
</html>
