body {
    margin: 0;
    background-color: #272727;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
    background-color: #333333;
    display: flex;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #ccc;
    box-shadow: none;
}



#grid {
    position: fixed;
    width: 98%;
    height: 70%;
    border: 10px solid #ccc;
    padding: 5%;
}

#game-title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    margin-top: 50px;

}

.hexagon {
    width: 45px;
    /* background-color: #30cc57; */
    background-image: linear-gradient(90deg, #84cfe5, #05a9f5);
    ;
    position: absolute;
    top: 50%;
    left: 50%;
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    /* Hexagon shape */
}